{% extends "base.html" %}
<link rel="stylesheet" href="{{url_for('static',filename='./css/style.css')}}">
{% block content%}
<div class="container">
    <div class="col-30">
          <div class="container">
              <div class="card-columns">
              {% for headlines in headlines %}
              <div class="card">
              <img src="{{headlines.url}}" alt=" " class="card img cap" size="400px300">
                <div class="card-body">
                  <p class="card-title"><strong>{{headlines.time}}<strong></p>
                  <medium class="text" style="font-weight:normal">{{headlines.author}}</medium>
                    </div>
                <div class="card-footer">
                  <a href="{{headlines.image}}">
                    <p class="card-text">MORE</p>
                  </a>
                  <br>
                  <small class="card-text">{{headlines.description}}</small>
                  <br><br>
                  <small class="bottom" alt=""><strong>{{headlines.title}}<strong></small>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        </div>
  {% endblock %}
