{% extends "base.html" %}

    {% block title %}THE KENYAN TRIBUNE{% endblock %}
    {% block content%}
    {% block content %}
<div class="container">
    <!-- sources -->
    <div class="nav-scroller bg-dark p-0">
        <nav class="d-flex wrap justify-content-between">
            {% for item in news_sources%}
            <a href="/articles/{{item.id}}" class="p-2 text-light">{{item.author| upper }}</a> {% endfor %}
        </nav>
    </div>

    <!-- trending -->
    <div class="row hidden-md-up mt-3">
        {% for article in trending_article %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-block">
                    <img src="{{article.url_to_image}}" class="card-img-top" alt="">
                    <a href="{{article.url}} " class="card-link">
                        <p class="card-text text-secondary">{{ article.title }}</p>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
</div>
